  .pagination {
    display: flex;
    justify-content:space-between;
    max-width:320px;
    min-width: 120px;
    list-style: none;
    cursor: pointer;
    font-size: 14px;
  }
  
  .pagination a {
    display: block;
    text-align: center;
    color: var(--dark-blue);
    width: 22px;
    height: 22px;
  }
  
  .pagination__link__active a {
    color: var(--green);
  }
  
  .pagination__link__disabled a {
    color: var(--dark-blue);
  }