.root{
    width:100%;
    padding: 38px 35px;
    background:var(--white);
    border-radius: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 81px;
}

.contact{
    display: flex;
    gap:14px;
    align-items: center;
}

.contact_num{
    font-size: 28px;
    color:var(--green);
}

.contact_text{
    font-size: 12px;
    color:var(--light-blue);
}

.wrapper{
    display: flex;
    gap:39px;
}

.button_group{
    display: flex;
    gap:10px;
}