.root{
    width:64px;
    height: 64px;
    border-radius: 16px;
    display: flex;
    justify-content:center;
    align-items:center;
    
    &.active{
        background: var(--light-green);
    }

    & svg{
        width:28px;
        height: 44px;
    }
}

.iconArrowTop, .iconArrowDown{
    width:16px;
    height: 8px;
}

.iconArrowTop{
    transform: rotate(180deg);
}

.search{
    width:16px;
    height: 16px;
}