.root{
    display:flex;
    flex-direction: column;
    font-size: 12px;
    border-radius: 32px;
    background: var(--white);
    overflow: hidden;
}

.empty {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

.text{
    padding:0 36px;
    color:var(--light-blue);

    & span{
        margin-right: 15px;
    }
}

.wrapper{
    display: flex;
    margin-bottom: 39px;
    justify-content: space-between;
    border-radius: 32px;
}

.info{
    display:flex;
    width: 100%;
    overflow-x: scroll;
    height: 100%;
    padding-bottom: 26px;

    & table:last-child {
        border-right:none;
    }
}

table{
    display:block;

    & td input{
        min-width:80px;
        width: 100%;
        border-bottom: 1.5px solid var(--light-blue);
    }

    & td:hover:has(input) {
        color: var(--light-blue);
    }

    & th {
        font-weight: 700;
        color: var(--green);
    }

    & td, & th{
        border: 1.5px solid var(--gray);
        padding:11px  25px 11px 17px;
        white-space: nowrap;
        text-align: left;
    }

    & td span {
        padding: 5px;
    }

    & td:hover{
        color:var(--green);
        cursor: default;
    }

    .info & {
        border-right: 1.5px solid var(--green); 
    }

    .info & tbody tr:nth-child(2n) {
        background: var(--table-line);
    }

    & .table_head{
        text-align: center;
    }
}

.sorting_block{
    position: relative;
    cursor: pointer;
    user-select: none;
    &.is_sortASC{
      &:after{
        position: absolute;
        content: '';
        right: 3px;
        top: calc(50% - 3px);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: #eee transparent transparent transparent;
        border-top-color: var(--gray-blue);
      }
      
    }
  
    &.is_sortASC.active{
        &:after{
            border-top-color: var(--dark-blue);
        }
    }

    &.is_sortDESC.active{
        &:before{
            border-bottom-color: var(--dark-blue);
        }
    }

    &.is_sortDESC{
      &:before{
        position: absolute;
        content: '';
        right: 5px;
        top: calc(50% - 3px);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 5px 5px 5px;
        border-color: transparent transparent #eee transparent;
        border-bottom-color: var(--gray-blue);
      }
    }
  }

  .table_employee{
    width:250px;
    overflow: hidden;

    & td:nth-child(2){
        display: block;
        width:148px;
    }
  }

  .invalidDate{
    color:var(--red);
    border-radius: 4px;
    
  }

  .invalidDate:hover{
    color:var(--white);
    background:var(--red);
    border: 1.5px solid var(--red);
    width: 64px;
    height: 24px;
  }